USE [master]
GO
/****** Object:  Database [dbDoAnWeb]    Script Date: 27/11/2019 4:58:52 PM ******/
CREATE DATABASE [dbDoAnWeb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbDoAnWeb', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\dbDoAnWeb.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbDoAnWeb_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\dbDoAnWeb_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbDoAnWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbDoAnWeb]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 27/11/2019 4:58:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Img] [nvarchar](max) NULL,
	[IDPhim] [int] NULL,
 CONSTRAINT [PK_Banner] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTTapPhim]    Script Date: 27/11/2019 4:58:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTTapPhim](
	[IDPhim] [int] IDENTITY(1,1) NOT NULL,
	[TapPhim] [int] NULL,
	[ID] [int] NULL,
	[Link] [nvarchar](max) NULL,
 CONSTRAINT [PK_CTTapPhim] PRIMARY KEY CLUSTERED 
(
	[IDPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DSPhimBo]    Script Date: 27/11/2019 4:58:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSPhimBo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenPhim] [nvarchar](max) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NamPhatHanh] [int] NULL,
	[IDTheLoai] [int] NULL,
	[ThoiLuong] [nvarchar](15) NULL,
	[Img] [nvarchar](max) NULL,
	[MaQG] [int] NULL,
	[LuotXem] [int] NULL,
 CONSTRAINT [PK_DSPhim1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DSPhimLe]    Script Date: 27/11/2019 4:58:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSPhimLe](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenPhim] [nvarchar](max) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NamPhatHanh] [int] NULL,
	[IDTheLoai] [int] NULL,
	[ThoiLuong] [nvarchar](15) NULL,
	[Img] [nvarchar](max) NULL,
	[MaQG] [int] NULL,
	[LuotXem] [int] NULL,
	[Link] [nvarchar](max) NULL,
 CONSTRAINT [PK_DSPhimLe] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[gioithieu]    Script Date: 27/11/2019 4:58:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gioithieu](
	[idgioitin] [int] IDENTITY(1,1) NOT NULL,
	[noidung] [nvarchar](max) NULL,
	[sdtlien] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HopPhim]    Script Date: 27/11/2019 4:58:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HopPhim](
	[TenDN] [varchar](50) NOT NULL,
	[IDPhim] [int] NOT NULL,
 CONSTRAINT [PK_HopPhim1] PRIMARY KEY CLUSTERED 
(
	[TenDN] ASC,
	[IDPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LichSu]    Script Date: 27/11/2019 4:58:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[LichSu](
	[TenDN] [varchar](50) NOT NULL,
	[IDPhim] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDN] ASC,
	[IDPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Nam]    Script Date: 27/11/2019 4:58:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nam](
	[MaNam] [int] IDENTITY(1,1) NOT NULL,
	[TenNam] [int] NULL,
 CONSTRAINT [PK_Nam] PRIMARY KEY CLUSTERED 
(
	[MaNam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuocGia]    Script Date: 27/11/2019 4:58:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuocGia](
	[MaQG] [int] IDENTITY(1,1) NOT NULL,
	[TenQG] [nvarchar](50) NULL,
 CONSTRAINT [PK_Quốc Gia] PRIMARY KEY CLUSTERED 
(
	[MaQG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 27/11/2019 4:58:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDN] [varchar](50) NOT NULL,
	[MatKhau] [varchar](50) NULL,
	[Quyen] [bit] NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TenDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 27/11/2019 4:58:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[IDTheLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenTheLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_TheLoai] PRIMARY KEY CLUSTERED 
(
	[IDTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tintucphim]    Script Date: 27/11/2019 4:58:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tintucphim](
	[idtintuc] [int] IDENTITY(1,1) NOT NULL,
	[tieude] [nvarchar](max) NULL,
	[tomtat] [nvarchar](max) NULL,
	[noidung] [nvarchar](max) NULL,
	[hinhanh] [nvarchar](max) NULL,
	[ngaycapnhat] [date] NULL,
	[luotxem] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idtintuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Banner] ON 

INSERT [dbo].[Banner] ([ID], [Img], [IDPhim]) VALUES (1, N'đấu-la-đại-lục.jpg', 1)
INSERT [dbo].[Banner] ([ID], [Img], [IDPhim]) VALUES (2, N'banner2.jpg', 2)
INSERT [dbo].[Banner] ([ID], [Img], [IDPhim]) VALUES (3, N'banner3.jpg', 5)
SET IDENTITY_INSERT [dbo].[Banner] OFF
SET IDENTITY_INSERT [dbo].[CTTapPhim] ON 

INSERT [dbo].[CTTapPhim] ([IDPhim], [TapPhim], [ID], [Link]) VALUES (1, 1, 1, N'https://www.aa.com/embed/zjYO1d1P-PQ')
INSERT [dbo].[CTTapPhim] ([IDPhim], [TapPhim], [ID], [Link]) VALUES (2, 2, 1, N'https://www.youtube.com/embed/zjYO1d1P-PQ')
INSERT [dbo].[CTTapPhim] ([IDPhim], [TapPhim], [ID], [Link]) VALUES (3, 3, 1, N'https://www.youtube.com/embed/zjYO1d1P-PQ')
SET IDENTITY_INSERT [dbo].[CTTapPhim] OFF
SET IDENTITY_INSERT [dbo].[DSPhimBo] ON 

INSERT [dbo].[DSPhimBo] ([ID], [TenPhim], [NoiDung], [NamPhatHanh], [IDTheLoai], [ThoiLuong], [Img], [MaQG], [LuotXem]) VALUES (1, N'Đấu La Đại Lục', N'Một đại lục không hề yên bình, một cuộc sống đầy hiểm nguy, phiêu lưu nhưng cũng không kém phần lãng mạn. tình yêu, thù hận, trách nhiệm… Tiếp bước những tiền bối đi trước, Hoắc Vũ Hạo và đời sau sử lai khắc thất quái, bằng niềm tin nhiệt huyết tuổi trẻ đã gây dựng lại đường môn tái lập những huy hoàng xưa kia của các tiền bối đi trước…', 1, 1, N'12 Tập', N'daula.jpg ', 2, 25)
INSERT [dbo].[DSPhimBo] ([ID], [TenPhim], [NoiDung], [NamPhatHanh], [IDTheLoai], [ThoiLuong], [Img], [MaQG], [LuotXem]) VALUES (3, N'Assassin''s Pride', N'Trong thế giới mà chỉ những quý tộc mới có sức mạnh chống lại lũ quái vật-mana. Một thanh niên tên Kufa được cử đi làm gia sư để kiểm tra tài năng của Melida, một cô gái rắc rối sinh ra trong gia đình công tước. Nếu như không có tài năng thì phải ám sát cô ta ngay lập tức—đó chính là mặt tối của nhiệm vụ này.', 1, 1, N'12 Tập', N'11.jpg    ', 2, 3)
SET IDENTITY_INSERT [dbo].[DSPhimBo] OFF
SET IDENTITY_INSERT [dbo].[DSPhimLe] ON 

INSERT [dbo].[DSPhimLe] ([ID], [TenPhim], [NoiDung], [NamPhatHanh], [IDTheLoai], [ThoiLuong], [Img], [MaQG], [LuotXem], [Link]) VALUES (2, N'11', NULL, 1, 1, N'1', N'50549109_2263791297278594_2571119954854150144_n.jpg', 1, 1, N'1')
SET IDENTITY_INSERT [dbo].[DSPhimLe] OFF
SET IDENTITY_INSERT [dbo].[gioithieu] ON 

INSERT [dbo].[gioithieu] ([idgioitin], [noidung], [sdtlien]) VALUES (1, N'Đây là trang web do Nguyễn Chí Sanh và Trần Tuấn Phúc làm cấm copy dưới mọi hình thức
', N'sdt liên hệ: 0343399929 hoặc 0326660879

')
SET IDENTITY_INSERT [dbo].[gioithieu] OFF
INSERT [dbo].[HopPhim] ([TenDN], [IDPhim]) VALUES (N'admin', 10)
INSERT [dbo].[HopPhim] ([TenDN], [IDPhim]) VALUES (N'admin', 16)
INSERT [dbo].[HopPhim] ([TenDN], [IDPhim]) VALUES (N'sanh', 16)
INSERT [dbo].[LichSu] ([TenDN], [IDPhim]) VALUES (N'admin', 1)
INSERT [dbo].[LichSu] ([TenDN], [IDPhim]) VALUES (N'admin', 4)
INSERT [dbo].[LichSu] ([TenDN], [IDPhim]) VALUES (N'admin', 5)
SET IDENTITY_INSERT [dbo].[Nam] ON 

INSERT [dbo].[Nam] ([MaNam], [TenNam]) VALUES (1, 2015)
INSERT [dbo].[Nam] ([MaNam], [TenNam]) VALUES (2, 2016)
INSERT [dbo].[Nam] ([MaNam], [TenNam]) VALUES (3, 2017)
SET IDENTITY_INSERT [dbo].[Nam] OFF
SET IDENTITY_INSERT [dbo].[QuocGia] ON 

INSERT [dbo].[QuocGia] ([MaQG], [TenQG]) VALUES (1, N'Hàn Quốc')
INSERT [dbo].[QuocGia] ([MaQG], [TenQG]) VALUES (2, N'Nhật Bản ')
INSERT [dbo].[QuocGia] ([MaQG], [TenQG]) VALUES (3, N'Trung Quốc')
SET IDENTITY_INSERT [dbo].[QuocGia] OFF
INSERT [dbo].[TaiKhoan] ([TenDN], [MatKhau], [Quyen]) VALUES (N'admin', N'admin', 1)
INSERT [dbo].[TaiKhoan] ([TenDN], [MatKhau], [Quyen]) VALUES (N'chisanh', N'123', 0)
INSERT [dbo].[TaiKhoan] ([TenDN], [MatKhau], [Quyen]) VALUES (N'sanh', N'123', NULL)
SET IDENTITY_INSERT [dbo].[TheLoai] ON 

INSERT [dbo].[TheLoai] ([IDTheLoai], [TenTheLoai]) VALUES (1, N'Anime')
INSERT [dbo].[TheLoai] ([IDTheLoai], [TenTheLoai]) VALUES (2, N'Hành Động')
INSERT [dbo].[TheLoai] ([IDTheLoai], [TenTheLoai]) VALUES (3, N'Hài hước')
SET IDENTITY_INSERT [dbo].[TheLoai] OFF
SET IDENTITY_INSERT [dbo].[tintucphim] ON 

INSERT [dbo].[tintucphim] ([idtintuc], [tieude], [tomtat], [noidung], [hinhanh], [ngaycapnhat], [luotxem]) VALUES (8, N'CHIẾN CÔNG LỊCH SỬ CỦA 24 AE VIỆT NAM - RAID TOANG NHÀ PHILIPPINES !!! - SCUM Server Việt Nam', N'CHIẾN CÔNG LỊCH SỬ CỦA 24 AE VIỆT NAM - RAID TOANG NHÀ PHILIPPINES !!! - SCUM Server Việt Nam', N'CHIẾN CÔNG LỊCH SỬ CỦA 24 AE VIỆT NAM - RAID TOANG NHÀ PHILIPPINES !!! - SCUM Server Việt Nam', N'faraz-shanyar-img-3900.jpg', CAST(0x55230B00 AS Date), 5)
INSERT [dbo].[tintucphim] ([idtintuc], [tieude], [tomtat], [noidung], [hinhanh], [ngaycapnhat], [luotxem]) VALUES (12, N'fileName', N'fileName', N'fileName', N'72596273_p5.jpg', CAST(0x55230B00 AS Date), 3)
INSERT [dbo].[tintucphim] ([idtintuc], [tieude], [tomtat], [noidung], [hinhanh], [ngaycapnhat], [luotxem]) VALUES (14, N'CHIẾN CÔNG LỊCH SỬ CỦA 24 AE VIaaaaaaaaaaaaaaaaaaaa', N'CHIẾN CÔNG LỊCH SỬ CỦA 24 AE VIỆT NAM - RAID TOANG NHÀ PHILIPPINES !!! - SCUM Server Việt Nam', N'CHIẾN CÔNG LỊCH SỬ CỦA 24 AE VIỆT NAM - RAID TOANG NHÀ PHILIPPINES !!! - SCUM Server Việt Nam', N'67327788_917046421975818_8421098014549999616_n.jpg', CAST(0x6C400B00 AS Date), 2)
SET IDENTITY_INSERT [dbo].[tintucphim] OFF
ALTER TABLE [dbo].[Banner]  WITH CHECK ADD  CONSTRAINT [FK_Banner_DSPhimBo] FOREIGN KEY([IDPhim])
REFERENCES [dbo].[DSPhimBo] ([ID])
GO
ALTER TABLE [dbo].[Banner] CHECK CONSTRAINT [FK_Banner_DSPhimBo]
GO
ALTER TABLE [dbo].[CTTapPhim]  WITH CHECK ADD  CONSTRAINT [FK_CTTapPhim_DSPhimBo] FOREIGN KEY([ID])
REFERENCES [dbo].[DSPhimBo] ([ID])
GO
ALTER TABLE [dbo].[CTTapPhim] CHECK CONSTRAINT [FK_CTTapPhim_DSPhimBo]
GO
ALTER TABLE [dbo].[DSPhimBo]  WITH CHECK ADD  CONSTRAINT [FK_DSPhimBo_Nam] FOREIGN KEY([NamPhatHanh])
REFERENCES [dbo].[Nam] ([MaNam])
GO
ALTER TABLE [dbo].[DSPhimBo] CHECK CONSTRAINT [FK_DSPhimBo_Nam]
GO
ALTER TABLE [dbo].[DSPhimBo]  WITH CHECK ADD  CONSTRAINT [FK_DSPhimBo_QuocGia] FOREIGN KEY([MaQG])
REFERENCES [dbo].[QuocGia] ([MaQG])
GO
ALTER TABLE [dbo].[DSPhimBo] CHECK CONSTRAINT [FK_DSPhimBo_QuocGia]
GO
ALTER TABLE [dbo].[DSPhimBo]  WITH CHECK ADD  CONSTRAINT [FK_DSPhimBo_TheLoai] FOREIGN KEY([IDTheLoai])
REFERENCES [dbo].[TheLoai] ([IDTheLoai])
GO
ALTER TABLE [dbo].[DSPhimBo] CHECK CONSTRAINT [FK_DSPhimBo_TheLoai]
GO
ALTER TABLE [dbo].[DSPhimLe]  WITH CHECK ADD  CONSTRAINT [FK_DSPhimLe_Nam] FOREIGN KEY([NamPhatHanh])
REFERENCES [dbo].[Nam] ([MaNam])
GO
ALTER TABLE [dbo].[DSPhimLe] CHECK CONSTRAINT [FK_DSPhimLe_Nam]
GO
ALTER TABLE [dbo].[DSPhimLe]  WITH CHECK ADD  CONSTRAINT [FK_DSPhimLe_QuocGia] FOREIGN KEY([MaQG])
REFERENCES [dbo].[QuocGia] ([MaQG])
GO
ALTER TABLE [dbo].[DSPhimLe] CHECK CONSTRAINT [FK_DSPhimLe_QuocGia]
GO
ALTER TABLE [dbo].[DSPhimLe]  WITH CHECK ADD  CONSTRAINT [FK_DSPhimLe_TheLoai] FOREIGN KEY([IDTheLoai])
REFERENCES [dbo].[TheLoai] ([IDTheLoai])
GO
ALTER TABLE [dbo].[DSPhimLe] CHECK CONSTRAINT [FK_DSPhimLe_TheLoai]
GO
ALTER TABLE [dbo].[HopPhim]  WITH CHECK ADD  CONSTRAINT [FK_HopPhim_DSPhimBo] FOREIGN KEY([IDPhim])
REFERENCES [dbo].[DSPhimBo] ([ID])
GO
ALTER TABLE [dbo].[HopPhim] CHECK CONSTRAINT [FK_HopPhim_DSPhimBo]
GO
ALTER TABLE [dbo].[HopPhim]  WITH CHECK ADD  CONSTRAINT [FK_HopPhim_TaiKhoan] FOREIGN KEY([TenDN])
REFERENCES [dbo].[TaiKhoan] ([TenDN])
GO
ALTER TABLE [dbo].[HopPhim] CHECK CONSTRAINT [FK_HopPhim_TaiKhoan]
GO
ALTER TABLE [dbo].[LichSu]  WITH CHECK ADD FOREIGN KEY([IDPhim])
REFERENCES [dbo].[DSPhimBo] ([ID])
GO
ALTER TABLE [dbo].[LichSu]  WITH CHECK ADD FOREIGN KEY([TenDN])
REFERENCES [dbo].[TaiKhoan] ([TenDN])
GO
USE [master]
GO
